absl-py
tensorflow==2.1.0
tensorflow-addons==0.9.1
tensorflow_io==0.12.0
retrying
matplotlib
Pillow
tensorflow-probability
tensorflow-datasets==3.0.0
google-cloud-storage
google-cloud-logging
cloud-tpu-client
tensorflow-gan
scikit-learn
